.m1{
    color: white;
}
.j1{
    background-color: rgba(0, 0, 0, 0.596);
    
}
.k1{
    background-color: rgba(0, 0, 0, 0.726);
color: white;
}
.l1{
    background-color: rgba(255, 166, 0, 0.815);
}
.p1{
    color: white;
    background-color: black;
}
.m2{
    background-color: rgba(0, 0, 0, 0.699);
}


